.filter {
  padding: 2px;
  min-width: 170px;
  width: 100%;
  border: 1px solid var(--bg);
  font-size: 1.2rem;
  font-family: var(--font-secondary);
  color: var(--secondary);
  box-sizing: border-box;
}
