.filter {
  padding: 2px;
  width: 100%;
  max-width: 300px;
  font-size: 1.2rem;
  box-sizing: border-box;

  font-family: var(--font-secondary);
  color: var(--secondary);
  border: 1px solid var(--bg);
}
