.list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
  gap: 5px;
  height: 75%;
  overflow-y: auto;
  justify-content: center;

  background-color: var(--secondary);
}
